<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar contraseña</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- JS -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</head>

<body>
    <h2>Recuperar contraseña</h2>
    <form action="/forgot-password" method="post">
        <input type="text" name="username" placeholder="Usuario" required>
        <button type="submit">Recuperar</button>
    </form>

    <p>¿Ya tienes cuenta? <a href="login.html">Inicia sesión aquí</a></p>
</body>
</html>
